@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	background-color: whitesmoke;
	color: black;
}

body {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
    min-width: 400px;
    min-height: 600px;
}

footer {
	background-color: rgb(32, 178, 178);
	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 10em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer > p {
	font-size: 0.8rem;
}

footer h1 {
	font-size: 2.5rem;
}

.bigContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 2em;
}

.bigContainer img {
	height: 12em;
}

#exchange {
	border: none;
	border-radius: 10px;
	padding: 0.5em;
	margin: 1em 0;
	cursor: pointer;
	background-color: transparent;
	position: relative;
}

#exchange:hover {
	transform: scale(1.1);
}

#exchange img {
	height: 4em;
	transform: rotate(90deg);
}

input::placeholder {
	color: #212056;
}
input {
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 2rem;
	color: #212056;
	width: 8em;
}

select {
	color: #6d6c8b;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 2rem;
}

.rate {
	font-size: 2rem;
	color: #212056;
    margin-bottom: 0.5em;
}

.title h2 {
	color: #6d6c8b;
	text-transform: uppercase;
	font-size: 2rem;
}

@media only screen and (max-width: 1080px) {
	html {
		font-size: 11px;
	}
}
